<!DOCTYPE html>
<html lang="eng-us" ng-app="app">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>drop down directive</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="styles.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular.min.js"></script>
	<script src="app.js"></script>
</head>

<body ng-controller="mainCtrl">

<div class="col-lg-6">
		<table-select resource="data.json" class="table-select">
			<columns>
				<column header="Facility" repeat="facilities">
					<input type="checkbox" ng-checked="master">
					<label>{{stuff.facility}}</label>
				</column>
				<column header="Location">
					{{stuff.location.city}}, {{stuff.location.state}}
				</column>
			</columns>
			<draw-table></draw-table>
		</table-select>
	</div>

</body>
</html>


