.highlight-table-row {
	background-color: aliceblue;
}
.highlight-search {
	background: #BDA0CB
}
.table-select span {
	width: 100%;
	height: 30px;
	line-height: 30px;
	display: inline-block;
	padding-left: 8px;
}
.table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	padding: 0;
}
.p-t-60 {
	padding-top: 60px !important;
}
.pink{background-color: pink;}
.yellow{background-color: yellow;}